/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1 {

}

h2 {

}

h3 {

}

h4,
h5,
h6 {

}

p,
ol,
ul,
dl,
table,
address,
figure {

}

ul,
ol,
blockquote {

}

li ul,
li ol{

}

blockquote {

}

figcaption {

}

hr {

}

a {

}

a:hover,
a:focus {

}

a:visited,
a:active {
    
}
